astroid==3.3.9
bandit==1.8.3
bcrypt==4.3.0
blspy==2.0.3
cffi==1.17.1
cryptography==44.0.2
customtkinter==5.2.2
darkdetect==0.8.0
dill==0.3.9
isort==6.0.1
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
packaging==24.2
pbr==6.1.1
pillow==11.1.0
platformdirs==4.3.7
pycparser==2.22
Pygments==2.19.1
pylint==3.3.6
PyYAML==6.0.2
rich==14.0.0
setuptools==78.1.0
stevedore==5.4.1
tomlkit==0.13.2
ttkthemes==3.2.2
wheel==0.45.1
